<table
    align="center"
    class="table_shrink"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    bgcolor="#ffffff"
>
    <tbody>
        <tr>
            <td>
                <table
                    align="center"
                    class="table_shrink"
                    width="520px"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    bgcolor="#ffffff"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table
                                    class="table_shrink"
                                    width="100%"
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="0"
                                    bgcolor="#ffffff"
                                >
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <table
                                                        class="table_shrink"
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#ffffff"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align="left"
                                                                    valign="top"
                                                                    style="
                                                                        padding-top: 0px;
                                                                        font-family: Helvetica
                                                                                neue,
                                                                            Helvetica,
                                                                            Arial,
                                                                            Verdana,
                                                                            sans-serif;
                                                                        color: #205081;
                                                                        font-size: 20px;
                                                                        line-height: 32px;
                                                                        text-align: left;
                                                                        font-weight: bold;
                                                                    "
                                                                >
                                                                    <span>TechVisor 비밀번호 재설정</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    color: #cccccc;
                                                    padding-top: 10px;
                                                "
                                            >
                                                <hr color="#cccccc" size="1" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    padding-top: 10px;
                                                    font-family: Helvetica,
                                                        Arial, Verdana,
                                                        sans-serif;
                                                    color: #404040;
                                                    font-size: 14px;
                                                    line-height: 22px;
                                                    text-align: left;
                                                "
                                            >
                                                안녕하세요? {{ keywords.displayName }} 님,
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    padding-top: 10px;
                                                    font-family: Helvetica,
                                                        Arial, Verdana,
                                                        sans-serif;
                                                    color: #404040;
                                                    font-size: 14px;
                                                    line-height: 22px;
                                                    text-align: left;
                                                "
                                            >
                                                <span>최근 이 TechVisor 계정의 비밀번호 재설정을 요청하셨습니다.</span><br />
                                                <span>{{ email }}</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    padding-top: 10px;
                                                    font-family: Helvetica,
                                                        Arial, Verdana,
                                                        sans-serif;
                                                    color: #404040;
                                                    font-size: 14px;
                                                    line-height: 22px;
                                                    text-align: left;
                                                "
                                            >
                                                비밀번호를 업데이트하려면 아래 버튼을 클릭하세요.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">
                                                <table
                                                    align="left"
                                                    border="0"
                                                    cellspacing="0"
                                                    cellpadding="0"
                                                >
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                align="center"
                                                                style="
                                                                    padding-bottom: 20px;
                                                                    padding-top: 20px;
                                                                "
                                                            >
                                                                <a
                                                                    class="mobile-button"
                                                                    target="_blank"
                                                                    style="
                                                                        font-size: 16px;
                                                                        font-family: helvetica,
                                                                            helvetica
                                                                                neue,
                                                                            arial,
                                                                            verdana,
                                                                            sans-serif;
                                                                        font-weight: none;
                                                                        color: #ffffff;
                                                                        text-decoration: none;
                                                                        background-color: #3572b0;
                                                                        border-top: 11px
                                                                            solid
                                                                            #3572b0;
                                                                        border-bottom: 11px
                                                                            solid
                                                                            #3572b0;
                                                                        border-left: 20px
                                                                            solid
                                                                            #3572b0;
                                                                        border-right: 20px
                                                                            solid
                                                                            #3572b0;
                                                                        border-radius: 5px;
                                                                        -webkit-border-radius: 5px;
                                                                        -moz-border-radius: 5px;
                                                                        display: inline-block;
                                                                    "
                                                                    href="{{ url }}/{{ keywords.type }}/{{ email }}/{{ code }}"
                                                                    rel="noreferrer noopener"
                                                                    >내 비밀번호 재설정</a>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td
                                                                valign="top"
                                                                style="
                                                                    padding-top: 10px;
                                                                    font-family: Helvetica,
                                                                        Arial,
                                                                        Verdana,
                                                                        sans-serif;
                                                                    color: #404040;
                                                                    font-size: 14px;
                                                                    line-height: 22px;
                                                                    text-align: left;
                                                                "
                                                            >
                                                                혹은, 다음 링크를 열어주세요:<br />
                                                                <a
                                                                    style="
                                                                        color: #3572b0;
                                                                    "
                                                                    href="{{ url }}/{{ keywords.type }}/{{ email }}/{{ code }}"
                                                                >
                                                                    {{ url }}/{{ keywords.type }}/{{ email }}/{{ code }}
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                valign="top"
                                                                style="
                                                                    padding-top: 10px;
                                                                    font-family: Helvetica,
                                                                        Arial,
                                                                        Verdana,
                                                                        sans-serif;
                                                                    color: #404040;
                                                                    font-size: 14px;
                                                                    line-height: 22px;
                                                                    text-align: left;
                                                                "
                                                            >
                                                                이 링크는 24시간동안 유효합니다.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div>
                                                    <table
                                                        align="center"
                                                        class="table_shrink"
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#ffffff"
                                                    >
                                                        <tbody>
                                                            <tr valign="top">
                                                                <td
                                                                    align="left"
                                                                    valign="top"
                                                                    style="
                                                                        padding-top: 10px;
                                                                        font-family: Helvetica,
                                                                            Helvetica
                                                                                neue,
                                                                            Arial,
                                                                            Verdana,
                                                                            sans-serif;
                                                                        color: #333333;
                                                                        font-size: 14px;
                                                                        line-height: 24px;
                                                                        text-align: left;
                                                                        font-weight: none;
                                                                    "
                                                                >
                                                                    <span>감사합니다.</span><br />
                                                                    <span>TechVisor팀</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table
                                    align="center"
                                    class="table_shrink"
                                    width="520px"
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="0"
                                    bgcolor="#ffffff"
                                >
                                    <tbody>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    color: #cccccc;
                                                    padding-top: 20px;
                                                "
                                                width="100%"
                                            >
                                                <hr color="#cccccc" size="1" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <table
                                                        align="center"
                                                        class="table_shrink"
                                                        width="520px"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#ffffff"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align="center"
                                                                    valign="top"
                                                                    style="
                                                                        padding-top: 10px;
                                                                        font-family: Helvetica,
                                                                            Helvetica
                                                                                neue,
                                                                            Arial,
                                                                            Verdana,
                                                                            sans-serif;
                                                                        color: #707070;
                                                                        font-size: 12px;
                                                                        line-height: 18px;
                                                                        text-align: center;
                                                                        font-weight: none;
                                                                    "
                                                                >
                                                                    <br /><span >이 메시지는 TechVisor 사이트에서 발송했습니다.</span><br />
                                                                </td>
                                                            </tr>
                                                            <tr valign="top">
                                                                <td
                                                                    align="center"
                                                                    style="
                                                                        padding-top: 20px;
                                                                        padding-bottom: 30px;
                                                                    "
                                                                >
                                                                    <a
                                                                        href="http://techvisor.co.kr"
                                                                        rel="noreferrer noopener"
                                                                        target="_blank"
                                                                    >
                                                                        <img
                                                                            src="http://techvisor.co.kr/assets/images/logos/logo-email-footer.png"
                                                                            width="114"
                                                                            border="0"
                                                                            alt="TechVisor"
                                                                            style="
                                                                                display: block;
                                                                                color: #4c9ac9;
                                                                            "
                                                                            loading="lazy"
                                                                        />
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
