<table
    align="center"
    class="table_shrink"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    bgcolor="#ffffff"
>
    <tbody>
        <tr>
            <td>
                <table
                    align="center"
                    class="table_shrink"
                    width="520px"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    bgcolor="#ffffff"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table
                                    class="table_shrink"
                                    width="100%"
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="0"
                                    bgcolor="#ffffff"
                                >
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <table
                                                        class="table_shrink"
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#ffffff"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align="left"
                                                                    valign="top"
                                                                    style="
                                                                        padding-top: 0px;
                                                                        font-family: Helvetica
                                                                                neue,
                                                                            Helvetica,
                                                                            Arial,
                                                                            Verdana,
                                                                            sans-serif;
                                                                        color: #205081;
                                                                        font-size: 20px;
                                                                        line-height: 32px;
                                                                        text-align: left;
                                                                        font-weight: bold;
                                                                    "
                                                                >
                                                                    <span>안녕하세요. TechVisor에 오신 것을 환영합니다.</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    color: #cccccc;
                                                    padding-top: 10px;
                                                "
                                            >
                                                <hr color="#cccccc" size="1" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    padding-top: 10px;
                                                    font-family: Helvetica,
                                                        Arial, Verdana,
                                                        sans-serif;
                                                    color: #404040;
                                                    font-size: 14px;
                                                    line-height: 22px;
                                                    text-align: left;
                                                "
                                            >
                                                안녕하세요? {{ keywords.displayName }} 님,
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    padding-top: 10px;
                                                    font-family: Helvetica,
                                                        Arial, Verdana,
                                                        sans-serif;
                                                    color: #404040;
                                                    font-size: 14px;
                                                    line-height: 22px;
                                                    text-align: left;
                                                "
                                            >
                                                <span>TechVisor에 오신 것을 환영합니다. 함께 하게 되어 기쁩니다!</span><br /><br />
                                                <span>테크바이저는 특허, 임상, 뉴스, 재무정보와 함께 매일 변하는 시가총액과 투자지표 등을 계산하여 상장된 모든 종목의 적정주가를 빠르게 제공합니다.</span><br /><br />
                                                <span>테크바이저는 현재도 연구개발이 계속 진행되고 있으며, 모든 기능은 베타버전을 통해 무료로 사용하실 수 있습니다.</span><br /><br />
                                                <span>사이트의 자세한 사항은 테크바이저를 방문하시어 확인하십시오.</span><br /><br />
                                                <span>회원님에 관한 정보는 테크바이저의 [내 정보]에서 수정하실 수 있습니다.</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">
                                                <table
                                                    align="left"
                                                    border="0"
                                                    cellspacing="0"
                                                    cellpadding="0"
                                                >
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                align="center"
                                                                style="
                                                                    padding-bottom: 20px;
                                                                    padding-top: 20px;
                                                                "
                                                            >
                                                                <a
                                                                    class="mobile-button"
                                                                    target="_blank"
                                                                    style="
                                                                        font-size: 16px;
                                                                        font-family: helvetica,
                                                                            helvetica
                                                                                neue,
                                                                            arial,
                                                                            verdana,
                                                                            sans-serif;
                                                                        font-weight: none;
                                                                        color: #ffffff;
                                                                        text-decoration: none;
                                                                        background-color: #3572b0;
                                                                        border-top: 11px
                                                                            solid
                                                                            #3572b0;
                                                                        border-bottom: 11px
                                                                            solid
                                                                            #3572b0;
                                                                        border-left: 20px
                                                                            solid
                                                                            #3572b0;
                                                                        border-right: 20px
                                                                            solid
                                                                            #3572b0;
                                                                        border-radius: 5px;
                                                                        -webkit-border-radius: 5px;
                                                                        -moz-border-radius: 5px;
                                                                        display: inline-block;
                                                                    "
                                                                    href="{{ url }}/login/{{ email }}"
                                                                    rel="noreferrer noopener"
                                                                    >테크바이저 둘러보기
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div>
                                                    <table
                                                        align="center"
                                                        class="table_shrink"
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#ffffff"
                                                    >
                                                        <tbody>
                                                            <tr valign="top">
                                                                <td
                                                                    align="left"
                                                                    valign="top"
                                                                    style="
                                                                        padding-top: 10px;
                                                                        font-family: Helvetica,
                                                                            Helvetica
                                                                                neue,
                                                                            Arial,
                                                                            Verdana,
                                                                            sans-serif;
                                                                        color: #333333;
                                                                        font-size: 14px;
                                                                        line-height: 24px;
                                                                        text-align: left;
                                                                        font-weight: none;
                                                                    "
                                                                >
                                                                    <span>감사합니다.</span><br />
                                                                    <span>TechVisor팀</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table
                                    align="center"
                                    class="table_shrink"
                                    width="520px"
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="0"
                                    bgcolor="#ffffff"
                                >
                                    <tbody>
                                        <tr>
                                            <td
                                                valign="top"
                                                style="
                                                    color: #cccccc;
                                                    padding-top: 20px;
                                                "
                                                width="100%"
                                            >
                                                <hr color="#cccccc" size="1" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <table
                                                        align="center"
                                                        class="table_shrink"
                                                        width="520px"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        bgcolor="#ffffff"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align="center"
                                                                    valign="top"
                                                                    style="
                                                                        padding-top: 10px;
                                                                        font-family: Helvetica,
                                                                            Helvetica
                                                                                neue,
                                                                            Arial,
                                                                            Verdana,
                                                                            sans-serif;
                                                                        color: #707070;
                                                                        font-size: 12px;
                                                                        line-height: 18px;
                                                                        text-align: center;
                                                                        font-weight: none;
                                                                    "
                                                                >
                                                                    <br /><span>이 메시지는 TechVisor 사이트에서 발송했습니다.</span><br />
                                                                </td>
                                                            </tr>
                                                            <tr valign="top">
                                                                <td
                                                                    align="center"
                                                                    style="
                                                                        padding-top: 20px;
                                                                        padding-bottom: 30px;
                                                                    "
                                                                >
                                                                    <a
                                                                        href="http://techvisor.co.kr"
                                                                        rel="noreferrer noopener"
                                                                        target="_blank"
                                                                    >
                                                                        <img
                                                                            src="http://techvisor.co.kr/assets/images/logos/logo-email-footer.png"
                                                                            width="114"
                                                                            border="0"
                                                                            alt="TechVisor"
                                                                            style="
                                                                                display: block;
                                                                                color: #4c9ac9;
                                                                            "
                                                                            loading="lazy"
                                                                        />
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
