# Byte-compiled / optimized / DLL files
*__pycache__*
*.pyc
*.py[cod]
*$py.class


.vscode


**/migrations/**
!**/migrations
!**/migrations/__init__.py

ui/.env
ui/build
ui/node_modules
ui/yarn-error.log*
ui/src/styles/tailwind.css

secrets.json
client_secrets.json
