# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.vscode


migrations
.env


build
node_modules
yarn-error.log*
tailwind.css

secrets.json
client_secrets.json

# git rm --cached brabrabra [is folder add this: -r]
